<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Vos intérêts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <div class="interests-container">
      <div *ngFor="let interest of interests">
        <ion-chip (click)="toggleInterest(interest)" [id]="interest.id" *ngIf="isSelected(interest)">
          {{ interest.name }}
        </ion-chip>
        <ion-chip (click)="toggleInterest(interest)" [id]="interest.id" [outline]="true" *ngIf="!isSelected(interest)">
          {{ interest.name }}
        </ion-chip>
      </div>
    </div>
    <div class="interests-sum">{{ selectedInterests.length }}/3</div>
    <ion-button (click)="submitInterests()" expand="block" color="primary" type="submit">Enregistrer</ion-button>
  </div>
</ion-content>
