<div class="header">
  <img src="assets/logo/Logo.png" alt="" />
</div>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <div class="interests-container">
      <div *ngFor="let interest of interests">
        <ion-chip (click)="toggleInterest(interest)" [id]="interest.id" *ngIf="isSelected(interest)">
          {{ interest.name }}
        </ion-chip>
        <ion-chip (click)="toggleInterest(interest)" [id]="interest.id" [outline]="true" *ngIf="!isSelected(interest)">
          {{ interest.name }}
        </ion-chip>
      </div>
    </div>
    <div class="interests-sum">{{ selectedInterests.length }}/3</div>
    <ion-button (click)="submitInterests()" expand="block" color="primary" type="submit">Enregistrer</ion-button>
  </div>
</ion-content>
