<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="red-background">
  <form>
    <ion-input
      type="text"
      label="Adresse e-mail"
      placeholder="Adresse e-mail"
      label-placement="floating"
      fill="outline"
      color="secondary"
      [(ngModel)]="email"
      name="email"
      required
    ></ion-input>
    <ion-input
      type="password"
      label="Mot de passe"
      placeholder="Mot de passe"
      label-placement="floating"
      fill="outline"
      [(ngModel)]="password"
      name="password"
      required
    ></ion-input>
    <ion-button expand="block" color="secondary" type="submit">Submit</ion-button>
  </form>
  <ion-button color="primary" routerLink="/auth/register" expand="block">S'inscrire</ion-button>
</ion-content>
