<ion-header>
  <img src="assets/logo/Logo.png" alt="" />
</ion-header>

<ion-content [fullscreen]="true" class="red">
  <app-loader-component *ngIf="isLoading"></app-loader-component>
  <div class="form-container">
    <form (submit)="login()">
      <div class="buttons-group">
        <h1>Connexion</h1>
        <ion-input
          type="text"
          label="Adresse e-mail"
          placeholder="Adresse e-mail"
          label-placement="floating"
          fill="outline"
          color="primary"
          [(ngModel)]="email"
          name="email"
          required
        ></ion-input>
        <ion-input
          type="password"
          label="Mot de passe"
          placeholder="Mot de passe"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="password"
          name="password"
          required
        ></ion-input>

        <ion-button expand="block" color="secondary" type="submit"
          >Se connecter</ion-button
        >
        <ion-button color="primary" routerLink="/auth/register" expand="block"
          >S'inscrire</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
