<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="red-background">
  <form>
    <ion-input
      type="text"
      placeholder="Who are you?"
      [(ngModel)]="email"
      name="email"
      required
    ></ion-input>
    <ion-input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    ></ion-input>
    <ion-button type="submit">Submit</ion-button>
  </form>
</ion-content>
