<ion-header class="dark">
  <img src="assets/logo/Logo.png" alt="" />
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-container">
    <div class="match" *ngFor="let match of matches">
      <div class="img-container">
        <img [src]="match.img" alt="" />
      </div>
      <div class="infos">

        <a [routerLink]="['/chat/chatroom', match.matchId]"  class="texts">
          
          <h2>{{match.name}}</h2>
          <p>
            <ion-icon
              *ngIf="match.lastMsgSender == match.id"
              name="return-up-forward-outline"
            ></ion-icon>
            {{match.lastMsg}}
          </p>
        </a>
        <div class="options">
          <ion-button expand="block" type="submit"
            ><ion-icon name="ellipsis-horizontal-outline"></ion-icon
          ></ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
