<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <a class="infos" [routerLink]="['/chat/profile', match.id]">
          <div class="img-container">
            <img [src]="match.img" alt="" />
          </div>
          <h2>{{match.name}}</h2>
        </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-container">
    <div class="msgs" *ngFor="let msg of   messages">
      <div
        [ngClass]="{'mg me': userId == msg.sender?._id, 'msg other': userId != msg.sender?._id}"
      >
        <div class="msg-content">
          <p>{{msg.content}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="input">
    <ion-textarea
      label="Message"
      placeholder="Message"
      [autoGrow]="true"
      label-placement="floating"
      fill="outline"
      [(ngModel)]="message"
      name="message"
      required
    ></ion-textarea>
    <ion-button fill="clear" slot="end" (click)="sendMessage()"
      ><ion-icon name="send-outline"></ion-icon
    ></ion-button>
  </div>
</ion-content>
