ion-chip {
    width: fit-content;
    --color: #fff;
}
h1 {
    color: #fff;

}
.interests-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.interests-sum {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.interests-sum {
    color: #fff;
}