<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Vos photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <div class="photos-container">
      <div class="photo" *ngFor="let photo of photos">
        <ion-card class="inner">
          <img [src]="photo.url" />
        </ion-card>
        <button class="close-icon" (click)="deletePhoto(photo.id)">
          <ion-icon name="close" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <div class="photo" *ngIf="photos.length < 10">
        <div class="add">
          <ion-card class="inner" (click)="selectimageOptions()">
            <ion-icon name="add" aria-hidden="true"></ion-icon>
          </ion-card>
        </div>
      </div>
    </div>

    <div class="photos-sum">{{ photos.length }}/10</div>

  </div>
</ion-content>
