<ion-header>
  <img src="assets/logo/Logo.png" alt="" />
</ion-header>

<ion-content [fullscreen]="true" class="red">
  <div class="form-container">
    <form (ngSubmit)="submitProfile()">
      <div class="buttons-group">
        <h1>Inscription</h1>
        <ion-input
          type="text"
          label="Nom"
          placeholder="Nom"
          label-placement="floating"
          fill="outline"
          color="secondary"
          [(ngModel)]="name"
          name="name"
          required
        ></ion-input>

        <ion-input
          type="date"
          label="Date de naissance"
          placeholder="Date de naissance"
          label-placement="floating"
          fill="outline"
          color="secondary"
          [(ngModel)]="birthdate"
          name="birthdate"
          required
        ></ion-input>

        <ion-textarea
          label="Bio"
          placeholder="Bio"
          [autoGrow]="true"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="bio"
          name="bio"
          [counter]="true"
          maxlength="250"
          required
        ></ion-textarea>

        <ion-button expand="block" color="primary" type="submit"
          >Suivant</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
