.endlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10%;
}

h1 {
    color: var(--ion-color-primary);
    text-align: center;
}

h2 {
    text-align: center;
}
ion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ion-header ion-button {
    --background: #fff0;
}

.match-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.new-match-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}